
body{
    margin: 0px;
    padding: 0px;

}

header{
    background-color: rgb(170, 119, 221);
    margin-top: 0px;
    height: 10vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    
    margin-left: 200px;
}

.logo img{
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

.logo h1, .logo a{
    color: white;
    margin-right: 100px;
    margin-top: 10px;
    font-family: 'Tangerine', serif;
    font-size: 35pt;
    text-decoration: none;
}

.menubar{
    display: flex;
    gap: 35px;
    margin-top: 17px;
    margin-right: 150px;
}

.menubar a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
    
}
.btn1, .btn2, .btn3{
    background-color: rgb(170, 119, 221);
    border: 0px;
    margin: 5px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.btn1:hover, .btn1 a:hover, .btn2:hover, .btn2 a:hover, .btn3:hover, .btn3 a:hover{
    background-color: azure;
    color: cornflowerblue;
    border-radius: 5px;
}

/* Hover more */
.more-content{
    display: none;
    position: absolute;
    margin-top: -5px;

}

.more-content a{
    text-decoration: none;
    display: block;
    background-color: rgb(107, 61, 153);
    color: white;
    width: 130px;
    height: 25px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 50px;
    border-radius: 2px;

}

.more-content a:hover{
    background-color: rgb(170, 119, 221);
    color: azure;
    transition: 0.4s;
}

.more{
    margin-top: 2px;
}

.more:hover .more-content{
    display: block;
}
/* Hover more */

.login
{
    margin-right: 100px;
}

.login a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 900px){
    header{
        display: flex;
    }
    main, footer{
        position: relative;
    }
}

main{
    padding-top: 25px;
    display: flex;
    margin-top: -5px;
    flex-direction: column;
    background-image: url(../assets/backgroundalbum_blur.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;
        
}

.header-text{
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 5px;
    width: 200px;
}

.header-text h1{
    display: flex;
    justify-content: center;
    color: rgb(59, 59, 59);
    font-size: 30pt;
    font-family: 'Trebuchet MS';
}

.ContentText1{
    display: flex;
    justify-content: center;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS';
}

.ContentPict1{
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-top: -15px;
    
}

.picture{
    display: flex;
    background-color: rgba(218, 184, 224, 0.541);
    padding: 50px;
    border-radius: 5px;
    height: 275px;
    flex-direction: column;
    align-items: center;
}

.picture img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.picture h3{
    margin-top: -10px;
}

.ContentPict2{
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-top: 10px;
}

footer{
    background-color: rgb(170, 119, 221);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1{
    display: flex;
    flex-direction: row;
    gap: 1200px;
}

.text{
    display: flex;
    flex-direction: column;
}

.text1 h1{
    margin-left: 50px;
}

.text2 h2{
   margin-bottom: -15px;
}

.content2 a{
    text-decoration: none;
    color: white;
}

.content2 a:hover{
    color: rgb(42, 112, 241);
}

.content2 h1{
    margin-left: 25px;
}

.content3{

}
