
body{
    margin: 0px;
    padding: 0px;

}

header{
    background-color: rgb(170, 119, 221);
    margin-top: 0px;
    height: 10vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    
    margin-left: 200px;
}

.logo img{
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

.logo h1, .logo a{
    color: white;
    margin-right: 100px;
    margin-top: 10px;
    font-family: 'Tangerine', serif;
    font-size: 35pt;
    text-decoration: none;
}

.menubar{
    display: flex;
    gap: 35px;
    margin-top: 17px;
    margin-right: 150px;
}

.menubar a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
    
}
.btn1, .btn2, .btn3{
    background-color: rgb(170, 119, 221);
    border: 0px;
    margin: 5px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.btn1:hover, .btn1 a:hover, .btn2:hover, .btn2 a:hover, .btn3:hover, .btn3 a:hover{
    background-color: azure;
    color: cornflowerblue;
    border-radius: 5px;
}

/* Hover more */
.more-content{
    display: none;
    position: absolute;
    margin-top: -5px;

}

.more-content a{
    text-decoration: none;
    display: block;
    background-color: rgb(107, 61, 153);
    color: white;
    width: 130px;
    height: 25px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 50px;
    border-radius: 2px;

}

.more-content a:hover{
    background-color: rgb(170, 119, 221);
    color: azure;
    transition: 0.4s;
}

.more{
    margin-top: 2px;
}

.more:hover .more-content{
    display: block;
}
/* Hover more */

.login
{
    margin-right: 100px;
}

.login a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 900px){
    header{
        display: flex;
    }
    main, footer{
        position: relative;
    }
}


main{
    padding-top: 25px;
    display: flex;
    margin-top: -5px;
    flex-direction: column;
    background-image: url(../assets/background_blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 160vh;
}

.header-text{
    color: white;
}

.header-text h1{
    display: flex;
    justify-content: center;
    font-size: 30pt;
}

.header-text h2{
   margin-bottom: -15px;
   font-family: 'Lucida Sans Unicode';
}

.header-text p{
    display: flex;
    font-weight: bold;
    font-size: x-large;
    justify-content: center;
    font-family: 'Lucida Sans Unicode';
}

.ContentText1{
    background-color: rgba(175, 120, 192, 0.445);
    border-radius: 25px;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 17pt;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.ContentPict{
    display: flex;
    width: 900px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pictSlider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-content: center;
    justify-content: center;
    align-content: center;
}

.pictSlider button{
    color: white;
    background-color: rgb(170, 119, 221);
    font-size: 25pt;
    border: none;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    margin-top: 220px;
}

.pictSlider button:hover{
    background-color: white;
}

.previous{
    margin-left: 30px;
}

.previous:hover, .next:hover{
    color: blueviolet;
}

.picture{
    display: flex;
    border-radius: 5px;
    width: 700px;
    overflow: hidden;
}

.picture img{
    width: 700px;
    height: 525px;
    border-radius: 5px;
    
}

.ContentPict2{
    display: flex;
    width: 900px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pictSlider2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-content: center;
    justify-content: center;
    align-content: center;
}

.pictSlider2 button{
    color: white;
    background-color: rgb(170, 119, 221);
    font-size: 25pt;
    border: none;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    margin-top: 220px;
}

.pictSlider2 button:hover{
    background-color: white;
}

.previous2{
    margin-left: 30px;
}

.previous2:hover, .next2:hover{
    color: blueviolet;
}

.picture2{
    display: flex;
    border-radius: 5px;
    width: 700px;
    overflow: hidden;
}

.picture2 img{
    width: 700px;
    height: 550px;
    border-radius: 5px;
}

footer{
    background-color: rgb(170, 119, 221);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1{
    display: flex;
    flex-direction: row;
    gap: 1200px;
}

.text{
    display: flex;
    flex-direction: column;
}

.text1 h1{
    margin-left: 50px;
}

.text2 h2{
   margin-bottom: -15px;
}

.content2 a{
    text-decoration: none;
    color: white;
}

.content2 a:hover{
    color: rgb(42, 112, 241);
}

.content2 h1{
    margin-left: 25px;
}

.content3{

}
